<div class="container col-md-8">
  <div class="mt-4">
    <h1 ApplyCoralBackground>Custom Directive Example</h1>
  </div>
  <div class="mt-4">
    <h1 appApplyBorder2>Custom Directive Example - Renderer</h1>
  </div>

  <!-- Host Listener -->
  <div class="mt-4">
    <h1 appApplyBorder2 appMouseOver>
      Custom Directive Example(Mouse Hover) - Host Listener
    </h1>
  </div>

  <!-- Host Binding -->
  <div class="mt-4">
    <h1 appDynamic [defaultColor]="'green'" [mouseEnter]="'blue'" [mouseLeave]="'black'">
      Custom Directive Example (Dynamic) - Host Binding
    </h1>
  </div>
</div>
